@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #33312E;
}

h1 {
  padding: 20px 0;
}

p {
  margin: 5px auto;
}

a{
  color: rgb(0, 172, 224);
}

a:hover{
  color: rgb(4, 134, 173);
}